<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма с Bootstrap</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>Генерация текста</h2>
        <div class="mb-3">
            <a href="{{ url_for('generate') }}" class="btn btn-link">Генерация</a>
            <a href="{{ url_for('uniq') }}" class="btn btn-link">Уникализация</a>
        </div>
        <form action="/uniq" method="POST">
            <div class="form-group">
                <label for="textarea2">Ключевые слова</label>
                <textarea name="user-text" class="form-control" id="textarea2" rows="3" placeholder="Введите ваш текст"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
